.course-card{
    a{
    text-decoration:none; 
    color:inherit}
}

#title{
    font-size: 70px;
}

#mainNav .nav-link{
    color:black
}

#mainNav .nav-link:hover{
    color:red
}

body {
    font-family: 'Merriweather', serif;
  }

.navbar link{
    background-color: white;
}

.navbar-shrink{
    background-color: transparent;
}

#mainNav-standalone{
    background-color: white;
    padding-top: 30px;
    .nav-link{
        color: black;
    }
}

#specialized-content{
    padding-top: 100px;
    padding-bottom: 100px
}